<mh-auth-form>
    <p id="auth-form-heading">
        Reset your <b><span class="firstLogoColor">mobi</span><span class="secondLogoColor">Hub</span></b> password
    </p>

    <!-- This container is shown when the page loads.
     It is hidden as soon as the reset password email was successfully sent -->
    <ng-container *ngIf="!resetPasswordEmailSent">
        <mat-progress-bar *ngIf="isResetPasswordFormLoading" id="auth-form-progress-bar" mode="indeterminate"></mat-progress-bar>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="auth-form">
            <!-- Email field -->
            <mat-form-field class="auth-form-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" autofocus>

                <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.get('email')?.hasError(validatorErrorKeys.emailPattern)">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <p class="auth-form-error-message" *ngIf="fatalResetPasswordError">
                This did not work.
                Please verify that you entered the correct email address and try again.
            </p>

            <a mat-button routerLink="../login">Back to Login</a>

            <button mat-flat-button id="auth-form-submit-button" type="submit" [disabled]="isResetPasswordFormLoading">
                Continue
            </button>
        </form>
    </ng-container>

    <!-- This container is shown when the reset password email was sent. It shows a success message to the user -->
    <ng-container *ngIf="resetPasswordEmailSent">
        <img id="mail-sent-image" src="/images/undraw_mail-sent_ujev.svg" alt="Email successfully sent image">
        <p id="auth-form-success-heading">Reset password email sent</p>
        <p id="auth-form-success-message">An email with instructions to reset your password has been sent to your email address. Please check your inbox and follow the instructions.</p>
        <button mat-flat-button id="auth-form-success-login-button" routerLink="../login">Sign in</button>
    </ng-container>
</mh-auth-form>

<!-- Preload the image shown when the reset password email was sent, so that it is shown instantly -->
<img src="/images/undraw_mail-sent_ujev.svg" alt="" style="display: none;">
