<div class="main">
    <h1>About</h1>
    <p>This website was created as part of the PSE (Praxis in der Softwareentwicklung) course at KIT.</p>
    <p>The goal is to promote and simplify the exchange of information regarding Open-Source traffic models
        in the area of traffic simulation and traffic management. The website is a platform for users to
        share their knowledge and experience with different traffic models.</p>
    <h2>Team</h2>
    <p>We are 6 students from the Karlsruhe Institute of Technology (KIT) doing our Bachelors in Informatics.</p>
    <p>Our team's name is:</p>
    <h2>The mobiHub-Band</h2>
</div>