$header-hight: 64px;  // Only used for calculating the height of other components. Does not set the actual header hight.

$first-logo-color: #133E87;
$second-logo-color: #608BC1;
$error-color: #fe3535;
