<mh-auth-form>
    <p id="auth-form-heading">Change your <b><span class="firstLogoColor">mobi</span><span class="secondLogoColor">Hub</span></b> password</p>

    <!-- This container is shown when the page loads. It is hidden as soon as the password was successfully changed -->
    <ng-container *ngIf="!isPasswordChangeComplete">
        <mat-progress-bar *ngIf="isChangePasswordFormLoading" id="auth-form-progress-bar" mode="indeterminate"></mat-progress-bar>

        <!-- Form for changing the password of the user -->
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="auth-form">
            <!-- Current Password field -->
            <mat-form-field class="auth-form-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>Current Password</mat-label>
                <input type="password" matInput formControlName="currentPassword">

                <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
                    Current Password is required
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('wrongPassword')">
                    Current Password is wrong
                </mat-error>
            </mat-form-field>

            <!-- TODO: Remove potential clone from register page (New password and confirm password fields) -->
            <!-- New Password field -->
            <mat-form-field class="auth-form-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="newPassword">
                <mat-hint>At least {{ this.dataConstants.MINIMUM_PASSWORD_LENGTH }} characters<br />Upper and lower case letters<br />At least one special character</mat-hint>

                <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
                    New Password is required
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
                    Password must be at least {{ this.dataConstants.MINIMUM_PASSWORD_LENGTH }} characters long
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('maxlength')">
                    Password is too long
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError(validatorErrorKeys.missingLowerCase)">
                    Password must contain at least one lowercase letter
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError(validatorErrorKeys.missingUpperCase)">
                    Password must contain at least one uppercase letter
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError(validatorErrorKeys.missingSpecialCharacter)">
                    Password must contain at least one special character
                </mat-error>
            </mat-form-field>

            <!-- Confirm Password field -->
            <mat-form-field class="auth-form-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput id="confirmPassword" formControlName="confirmPassword"
                    [errorStateMatcher]="confirmPasswordMatcher">

                <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="changePasswordForm.hasError(validatorErrorKeys.passwordMisMatch)">
                    Passwords do not match
                </mat-error>
            </mat-form-field>

            <p class="auth-form-error-message" *ngIf="fatalChangePasswordError">
                An error occurred while changing your password. Please try again later.
            </p>

            <a mat-stroked-button routerLink="../../user/edit">Cancel</a>

            <button mat-flat-button id="auth-form-submit-button" type="submit" [disabled]="isChangePasswordFormLoading">
                Change Password
            </button>
        </form>
    </ng-container>

    <!-- This container is show when the password was changed successfully. It shows a success message to the user -->
    <ng-container *ngIf="isPasswordChangeComplete">
        <img id="success-image" src="/images/success-player-multimedia-svgrepo-com.svg" alt="Success image">
        <p id="auth-form-success-heading">Password changed</p>
        <p id="auth-form-success-message">
            Your <b><span class="firstLogoColor">mobi</span><span class="secondLogoColor">Hub</span></b> password was successfully changed.
        </p>
        <button mat-flat-button id="auth-form-success-login-button" routerLink="../../user/edit">
            Back to profile settings
        </button>
    </ng-container>
</mh-auth-form>

<!-- Preload the image shown when the password is changed successfully, so that it is shown instantly -->
<img src="/images/success-player-multimedia-svgrepo-com.svg" alt="" style="display: none;">
