<mh-auth-form>
    <p id="auth-form-heading">
        Set your new <b><span class="firstLogoColor">mobi</span><span class="secondLogoColor">Hub</span></b> password
    </p>

    <!-- This container is shown when the page loads. It is hidden as soon as the password was successfully changed. -->
    <ng-container *ngIf="!isNewPasswordSet">
        <mat-progress-bar *ngIf="isFormLoading" id="auth-form-progress-bar" mode="indeterminate"></mat-progress-bar>

        <!-- Form for entering the new password -->
        <form [formGroup]="resetPasswordSetNewForm" (ngSubmit)="onSubmit()" class="auth-form">
            <!-- New Password field -->
            <mat-form-field class="auth-form-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="newPassword">
                <mat-hint>At least {{ this.dataConstants.MINIMUM_PASSWORD_LENGTH }} characters<br />Upper and lower case letters<br />At least one special character</mat-hint>

                <mat-error *ngIf="resetPasswordSetNewForm.get('newPassword')?.hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="resetPasswordSetNewForm.get('newPassword')?.hasError('minlength')">
                    Password must be at least {{ this.dataConstants.MINIMUM_PASSWORD_LENGTH }} characters long
                </mat-error>
                <mat-error *ngIf="resetPasswordSetNewForm.get('newPassword')?.hasError('maxlength')">
                    Password is too long
                </mat-error>
                <mat-error *ngIf="resetPasswordSetNewForm.get('newPassword')?.hasError(validatorErrorKeys.missingLowerCase)">
                    Password must contain at least one lowercase letter
                </mat-error>
                <mat-error *ngIf="resetPasswordSetNewForm.get('newPassword')?.hasError(validatorErrorKeys.missingUpperCase)">
                    Password must contain at least one uppercase letter
                </mat-error>
                <mat-error *ngIf="resetPasswordSetNewForm.get('newPassword')?.hasError(validatorErrorKeys.missingSpecialCharacter)">
                    Password must contain at least one special character
                </mat-error>
            </mat-form-field>

            <!-- Confirm Password field -->
            <mat-form-field class="auth-form-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput id="confirmPassword" formControlName="confirmPassword"
                    [errorStateMatcher]="confirmPasswordMatcher">

                <mat-error *ngIf="resetPasswordSetNewForm.get('confirmPassword')?.hasError('required')">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="resetPasswordSetNewForm.hasError(validatorErrorKeys.passwordMisMatch)">
                    Passwords do not match
                </mat-error>
            </mat-form-field>

            <p class="auth-form-error-message" *ngIf="fatalSetNewPasswordError">
                An error occurred while trying to set your new password.
                Please try again later or <a routerLink="../">request a new password reset link</a>.
            </p>

            <button mat-flat-button id="auth-form-submit-button" type="submit" [disabled]="isFormLoading">
                Set new password
            </button>
        </form>
    </ng-container>

    <!-- This container is shown when the new password was successfully changed. It shows a success message to the user -->
    <ng-container *ngIf="isNewPasswordSet">
        <img id="success-image" src="/images/success-player-multimedia-svgrepo-com.svg" alt="Success image">
        <p id="auth-form-success-heading">Password changed</p>
        <p id="auth-form-success-message">
            You can now use your new password to Sign In.
        </p>
        <button mat-flat-button id="auth-form-success-login-button" routerLink="/user/login">
            Sign In
        </button>
    </ng-container>
</mh-auth-form>

<!-- Preload the image shown when the password is changed successfully, so that it is shown instantly -->
<img src="/images/success-player-multimedia-svgrepo-com.svg" alt="" style="display: none;">
